div{
    background-color: beige;
}


#bl, .header
{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}
img{
    width: auto;
    height: auto;
    align-items: center;
}
.whi{
    text-align: center;
    color: black;
    background-color: beige;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}
#Ace, #Neji{
    background-color: beige;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
}
.lnk{
    color: white;
}
.lnk.d{
    color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }